* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #353535;
}

.main-header {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

nav a {
  text-decoration: none;
}

h1 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 150px;
}

pre {
  text-align: center;
  display: flex;
  justify-content: center;
  color: white;
}

pre ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

pre ul li {
  text-align: left;
}

pre code a {
  text-decoration: none;
}

